.container {
  margin-top: 10px;
  margin-right: 0;
  margin-left: 10px;
}

.comentario {
  margin-top: 5px;
  margin-bottom: 20;
  padding: 60px;
  background-color: #FFF159;
}

.form-comentarios textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 85px;
  max-height: 300px;
  padding: 5px;
  font-family: sans-serif;
  line-height: 30px;
  margin-bottom: 15px;

}

.mb-3{
  height: 30px;
  padding: 20px;
  font-family: sans-serif;
  line-height: 30px;
  margin-bottom: 15px;
}

.mb-4 {
  height: 20px;
}
