
.TextoF {
  width: 398px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.TextoF p {
  padding-bottom: 10px;
  color: #707070;
}

.Final {
  display: flex;
  padding-left: 150px;
  font-family: Segoe UI;
  background: #000000;
  padding-bottom: 25px;
}

.TextoF img {
  margin-left: 40px;
  margin-top: 40px;
}

 .Logo-red-1{
 margin-right: 1px;

}

.Logo-red-2{
  margin-left: 1px;
 
 }

 .Logo-red-3{
  margin-left: 1px;
 
 } 