
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

.price {
    font-size: 1em;
}

span {
    margin-left: 10px;
}


  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  .menu {
    padding: 5rem 0;
  }
  .title {
    text-align: center;
  }
  
  .title-descricao{
    height: 150px;

  }

  .btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .productsMenu {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
  }
  
  .products {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
    padding: 30px;
    background-color: #fff;
  }

  .imgCard{
    max-height: 100%;
    max-width: 100% ;
    object-fit: contain;
  }

  .imgCard img {
    width: 220px;
    height: 140px;
   
  }
  
  .logo {
    object-fit: cover;
    height: auto;
    width: 200px;
    border-radius: 0.25rem;  
  }
  
  .product-info header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.5px dotted hsl(210, 22%, 49%);
  }
  .product-info h4 {
    margin-bottom: 0.5rem;
  }

  .price {
    color: #c51d93;
  }
  .product-text {
    margin-bottom: 1rem;
    text-align: center;
  }

  .btn-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .products {
      grid-template-columns: 225px 1fr;
      gap: 0 1.25rem;
      max-width: 40rem;
      background-color: #fff;
      padding: 30px;
    }
    
  }

  @media screen and (min-width: 1200px) {
    .productsMenu{
     width: 65%;
     display: grid;
     grid-template-columns: repeat(3, 0fr);
     grid-row-gap: 20px;
     grid-column-gap: 30px;
     justify-items: center;
     justify-content: center;
    }

    .product-info{
      width: 250px;
    }

  }

  button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    margin-left: 35%;
  }

  button:hover {
    background-color: #cecece;
  }